/* 홈============================================================================ */
#wrap .swiper-wrapper .home .container section h1 {opacity: 0; animation: slideUpFadeIn 2.5s ease forwards;}
#wrap .swiper-wrapper .home .container section div {opacity: 0; animation: slideUpFadeIn 2.5s ease 0.5s forwards;}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px); /* 처음에 30px 아래에서 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 돌아옴 */
    }
}


/* 프로필============================================================================ */
#wrap .swiper-wrapper .profile .container .title {
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease, transform 2.5s ease; /* 부드러운 애니메이션 */
}
#wrap .swiper-wrapper .profile .container .contets .profile {
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease 0.5s, transform 2.5s ease 0.5s; /* 부드러운 애니메이션 */
}
#wrap .swiper-wrapper .profile .container .contets .education {
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease 1s, transform 2.5s ease 1s; /* 부드러운 애니메이션 */
}

#wrap .swiper-wrapper .profile .container .contets .experience {
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease 1.3s, transform 2.5s ease 1.3s; /* 부드러운 애니메이션 */
}

#wrap .swiper-wrapper .profile .container .contets .skills {
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease 1.7s, transform 2.5s ease 1.7s; /* 부드러운 애니메이션 */
}

#wrap .swiper-wrapper .profile .container .contets .skills em {
    width: 0%; /* 초기 width 설정 */
    transition: width 2.5s ease 3s; /* width 애니메이션 */
}

/* 웹============================================================================ */


/* ㅂㅇ============================================================================ */
#wrap .swiper-wrapper .last .container .contents h1 {
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease, transform 2.5s ease; /* 부드러운 애니메이션 */
}
#wrap .swiper-wrapper .last .container .contents p {
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease 0.7s, transform 2.5s ease 0.7s; /* 부드러운 애니메이션 */
}