#wrap .swiper-wrapper .home .container section h1 {opacity: 0; animation: slideUpFadeIn 2.5s ease forwards;}
#wrap .swiper-wrapper .home .container section div {opacity: 0; animation: slideUpFadeIn 2.5s ease 0.5s forwards;}

@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px); /* 처음에 30px 아래에서 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 돌아옴 */
    }
}