body, html {scroll-behavior: smooth;}
body * {transition: all 0.3s;}

#main_wrap {height: 100vh; margin: 0 auto;}

#wrap {width: 100%; height: 100vh; margin: 0 auto;}
#wrap .swiper-wrapper {}
#wrap .swiper-wrapper .swiper-slide {}
#wrap .swiper-wrapper .swiper-slide .container {margin: 0 auto;}

/* 홈============================================================================ */
#wrap .swiper-wrapper .home {background: url(../images/bg001.png) no-repeat center / cover;}
#wrap .swiper-wrapper .home .container {position: relative; height: 100vh; width: 100%;}
#wrap .swiper-wrapper .home .container section {
    width: 100%;
    position: absolute; bottom: 40px; left: 50%; transform: translate(-50%, 0%);
    display: flex; flex-flow: column nowrap; gap: 300px; align-items: center;
}
#wrap .swiper-wrapper .home .container section * {text-transform: uppercase; font-size: 0.875rem;}
#wrap .swiper-wrapper .home .container section h1 {
    text-align: center; font-size: 3.5rem; line-height: 1.5;
}
#wrap .swiper-wrapper .home .container section h1 em {font-size: 3.5rem; font-weight: 800; line-height: 1.5;}
#wrap .swiper-wrapper .home .container section div {
    display: flex; justify-content: space-between; align-items: center; width: 92%;
    position: relative;
}
#wrap .swiper-wrapper .home .container section div p {}
#wrap .swiper-wrapper .home .container section div p:nth-of-type(2) {position: absolute; bottom: 50%; left: 50%; transform: translate(-50%, 50%);}


/* 프로필============================================================================ */
#wrap .swiper-wrapper .profile {background-color: #FBF5DE;}
/* 웹============================================================================ */
#wrap .swiper-wrapper .web_projects {background-color: #EAC8A6;}
/* 디자인============================================================================ */
#wrap .swiper-wrapper .design {background-color: #3D74B6;}
/* ㅂㅇ============================================================================ */
#wrap .swiper-wrapper .last {background: url(../images/bg001.png) no-repeat center / cover;}