body, html {scroll-behavior: smooth;}
body * {transition: all 0.3s;}

#main_wrap {height: 100vh; margin: 0 auto;}

#wrap {width: 100%; height: 100vh; margin: 0 auto;}
#wrap .swiper-wrapper {}
#wrap .swiper-wrapper .swiper-slide {}
#wrap .swiper-wrapper .swiper-slide .container {margin: 0 auto;}

/* 홈============================================================================ */
#wrap .swiper-wrapper .home {background: url(../images/bg001.png) no-repeat center / cover;}
#wrap .swiper-wrapper .home .container {position: relative; height: 100vh; width: 100%;}
#wrap .swiper-wrapper .home .container section {
    width: 100%;
    position: absolute; bottom: 40px; left: 50%; transform: translate(-50%, 0%);
    display: flex; flex-flow: column nowrap; gap: 300px; align-items: center;
}
#wrap .swiper-wrapper .home .container section * {text-transform: uppercase; font-size: 0.875rem;}
#wrap .swiper-wrapper .home .container section h1 {
    text-align: center; font-size: 3.5rem; line-height: 1.5;
}
#wrap .swiper-wrapper .home .container section h1 em {font-size: 3.5rem; font-weight: 800; line-height: 1.5;}
#wrap .swiper-wrapper .home .container section div {
    display: flex; justify-content: space-between; align-items: center; width: 92%;
    position: relative;
}
#wrap .swiper-wrapper .home .container section div p {}
#wrap .swiper-wrapper .home .container section div p:nth-of-type(2) {position: absolute; bottom: 50%; left: 50%; transform: translate(-50%, 50%);}


/* 프로필============================================================================ */
#wrap .swiper-wrapper .profile {}
#wrap .swiper-wrapper .profile .container {
    margin: 0 auto; max-width: 1200px; min-width: 430px; padding: 145px 0 60px; height: 100vh;
    display: flex; flex-flow: column nowrap; justify-content: space-between; align-items: flex-start;
}
#wrap .swiper-wrapper .profile .container p,
#wrap .swiper-wrapper .profile .container h2 {font-size: 0.875rem;}
#wrap .swiper-wrapper .profile .container .title {
    width: 33%;
    opacity: 0; /* 초기 opacity 설정 */
    transform: translateY(50px); /* y 초기 위치 설정 */
    transition: opacity 2.5s ease, transform 2.5s ease; /* 부드러운 애니메이션 */
}
#wrap .swiper-wrapper .profile .container .title h1 {font-size: 2.25rem; font-weight: 800; margin-bottom: 20px;}
#wrap .swiper-wrapper .profile .container .title p {line-height: 1.5;}
#wrap .swiper-wrapper .profile .container .contets {display: flex; justify-content: space-between; align-items: flex-end; width: 100%;}
#wrap .swiper-wrapper .profile .container .contets > div > div {display: grid; grid-template-columns: 150px 430px; align-items: flex-start;}
#wrap .swiper-wrapper .profile .container .contets > div > div > h2 {
    padding: 5px 20px; border: 1px solid #353535; border-radius: 50px; width: max-content;
    text-transform: uppercase; height: fit-content;
}
#wrap .swiper-wrapper .profile .container .contets > div > div > .wrap {
    padding-top: 5px;
    display: flex; flex-flow: column nowrap;  gap: 7px;
}
#wrap .swiper-wrapper .profile .container .contets > div > div > .wrap * {line-height: 1.5; text-transform: uppercase;}
#wrap .swiper-wrapper .profile .container .contets .left {display: flex; flex-flow: column nowrap; gap: 50px;}
#wrap .swiper-wrapper .profile .container .contets .left > div {}
#wrap .swiper-wrapper .profile .container .contets .left > div h2 {}
#wrap .swiper-wrapper .profile .container .contets .left > div p {}
#wrap .swiper-wrapper .profile .container .contets .left > div p span {}
#wrap .swiper-wrapper .profile .container .contets .left .education .wrap {width: 100%;}
#wrap .swiper-wrapper .profile .container .contets .left .education .wrap span {display: flex;}
#wrap .swiper-wrapper .profile .container .contets .left .education .wrap span > span {width: 80%;}
#wrap .swiper-wrapper .profile .container .contets .left .education .wrap span em {width: 20%;}
#wrap .swiper-wrapper .profile .container .contets .right {display: flex; flex-flow: column nowrap; gap: 50px;}
#wrap .swiper-wrapper .profile .container .contets .right > p {}
#wrap .swiper-wrapper .profile .container .contets .right > p h2 {}
#wrap .swiper-wrapper .profile .container .contets .right > p p {}
#wrap .swiper-wrapper .profile .container .contets .right > p p span {}
#wrap .swiper-wrapper .profile .container .contets .right > p p span em {}
#wrap .swiper-wrapper .profile .container .contets .right > div p {}
#wrap .swiper-wrapper .profile .container .contets .right > div p span {}
#wrap .swiper-wrapper .profile .container .contets .right > div p span em {}
#wrap .swiper-wrapper .profile .container .contets .right .experience .wrap > span {display: flex; width: 100%;}
#wrap .swiper-wrapper .profile .container .contets .right .experience .wrap > span > em {width: 20%;}
#wrap .swiper-wrapper .profile .container .contets .right .experience .wrap > span > span {width: 80%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap {display: grid; grid-template-columns: 200px 200px; gap: 0px; justify-content: space-between;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p {width: 100%; display: flex; flex-flow: column nowrap; gap: 10px;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span {display: flex; flex-flow: column nowrap; gap: 10px;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) {
    background: #f0f0f0; width: 100%; height: 8px; border-radius: 50px;
    position: relative;
}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) em {
    background: #353535;/*  width: 70%; */ height: 8px; border-radius: 50px; display: inline-flex;
    position: absolute; top: 0; left: 0;
}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .photoshop {width: 80%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .oa {width: 75%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .notion {width: 65%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .html5 {width: 60%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .javascript {width: 30%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .react {width: 30%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .illustrator {width: 75%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .figma {width: 75%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .github {width: 30%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .css3 {width: 60%;}
#wrap .swiper-wrapper .profile .container .contets .right .skills .wrap p > span > span:nth-of-type(2) .jquery {width: 30%;}

/* 웹============================================================================ */
#wrap .swiper-wrapper .web_projects {background-color: #EAC8A6;}
/* 디자인============================================================================ */
#wrap .swiper-wrapper .design {background-color: #3D74B6;}
/* ㅂㅇ============================================================================ */
#wrap .swiper-wrapper .last {background: url(../images/bg001.png) no-repeat center / cover;}